################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Encryption/.vs/Encryption/v16
/Encryption/Encryption/bin/Debug
/Encryption/Encryption/obj/Debug
